<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.isoftstone.wissdemo.dao.PersonsMapper">
	<select id="list" parameterType="map" resultType="com.isoftstone.wissdemo.vo.Person">
		 select limit #{start} #{rows} * from persons where 1=1
		 <if test="company_name!=null and company_name!=''">
		 	and COMPANY_NAME = #{company_name}
		 </if>
		 <if test="name!=null and name!=''">
		 	and NAME like '%' || #{name} || '%'
		 </if>
		 <if test="sex!=null and sex!=''">
		 	and SEX=#{sex}
		 </if>
		 
	</select>
	
	<select id="total" parameterType="map" resultType="int">
		 select count(*) from persons where 1=1
		 <if test="company_name!=null and company_name!=''">
		 	and COMPANY_NAME = #{company_name}
		 </if>
		 <if test="name!=null and name!=''">
		 	and NAME like '%' || #{name} || '%'
		 </if>
		 <if test="sex!=null and sex!=''">
		 	and SEX=#{sex}
		 </if>
	</select>
	
	<insert id="addPerson" parameterType="com.isoftstone.wissdemo.vo.Person">
		insert into PERSONS (NAME, AGE, SEX, PHONE, IDENTITY_CARD_NUM, CURR_ADDRESS, COMPANY_NAME, REMARKS)
			values(#{name},#{age},#{sex},#{phone},#{identity_card_num},#{curr_address},#{company_name},#{remarks})
	</insert>
	
	<delete id="deletePerson" >
		delete from persons where id in
		<foreach collection="array"  item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<update id="modifyPerson" parameterType="com.isoftstone.wissdemo.vo.Person">
		update persons set name = #{name}, 
		age=#{age},
		sex=#{sex},
		phone=#{phone},
		curr_address=#{curr_address},
		company_name=#{company_name},
		remarks=#{remarks}
		where id=#{id}
	</update>
</mapper>
