<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.isoftstone.wissdemo.dao.PersonsMapper">
	<select id="list" parameterType="map" resultType="com.isoftstone.wissdemo.vo.Person">
		 select * from persons limit #{start},#{rows}
	</select>
	
	<select id="total" parameterType="map" resultType="int">
		 select count(*) from persons 
	</select>
</mapper>
