<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="../resources/jquery/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="../resources/jquery/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" src="../scripts/user/index.js"></script>
		<title>spring mvc</title>
	</head>
	<body>
		<div id="info"></div>
		<form action="add" method="post" id="form">
			编号：<input type="text" name="id" /> 姓名：<input type="text"
				name="username" /> 年龄：<input type="text" name="age" /> <input
				type="button" value="提交" id="submit" />
		</form>
	</body>
</html>