.menu{
	width:164px;  margin:10px 15px 0 0;	
}
.menu li,.menu ol{
	border-top:1px solid #cccbdb;
}
.menu ol li{
	border:none
}
.menu ul{
	border-bottom:1px solid #cccbdb;
}
.menu li ol{
	display:none
}
.menu li a,.menu li a:visited{
	height:36px; line-height:36px; color:#63666d; display:block;font-size:15px;
}
.menu li ol li a,.menu li ol li a:visited{
	font-size:14px;
}
.menu li a:hover{
	color:#6097de; font-weight:bold;
}
.menu li a.more_icon span{
	background:url(../images/more_icon.gif) no-repeat right center; display:block; width:98%;
}
.menu li a:hover.more_icon span{
	background:url(../images/more_icon_hover.gif) no-repeat right center;
}
.menu li a font{
	padding-left:35px; height:36px; display:block; font-size:14PX;
}


.menu li a#Summarize font{
	background:url(../images/Survey.gif) no-repeat 10px center
}
.menu li a:hover#Summarize font{
	background:url(../images/Survey_hover.gif) no-repeat 10px center
}

.menu li a#Channel font,.menu li a#Channelclose font{
	background:url(../images/Channel.gif) no-repeat 10px center
}

.menu li a#Channelclose span,.menu li a#SetUpclose span,.menu li a#Userclose span,.menu li a#ParticipateInclose span{
	background:url(../images/more_icon_hoverb.gif) no-repeat right center
}
.menu li a:hover#Channelclose span,.menu li a:hover#SetUpclose span,.menu li a:hover#Userclose span,.menu li a:hover#ParticipateInclose span{
	background:url(../images/more_icon_hoverr.gif) no-repeat right center
}

.menu li a:hover#Channel font,.menu li a:hover#Channelclose font{
	background:url(../images/Channel_hover.gif) no-repeat 10px center
}

.menu li a#User font,.menu li a#Userclose font{
	background:url(../images/User.gif) no-repeat 10px center
}
.menu li a:hover#User font,.menu li a:hover#Userclose font{
	background:url(../images/User_hover.gif) no-repeat 10px center
}

.menu li a#ParticipateIn font,.menu li a#ParticipateInclose font{
	background:url(../images/ParticipateIn.gif) no-repeat 10px center
}
.menu li a:hover#ParticipateIn font,.menu li a:hover#ParticipateInclose font{
	background:url(../images/ParticipateIn_hover.gif) no-repeat 10px center
}

.menu li a#CustomEvent font,.menu li a#CustomEventclose fon{
	background:url(../images/Custom.gif) no-repeat 10px center
}
.menu li a:hover#CustomEvent font,.menu li a:hover#CustomEventclose font{
	background:url(../images/Custom_hover.gif) no-repeat 10px center
}

.menu li a#FeedbackBy font,.menu li a#FeedbackByclose fon{
	background:url(../images/FeedbackBy.gif) no-repeat 10px center
}
.menu li a:hover#FeedbackBy font,.menu li a:hover#FeedbackBytclose font{
	background:url(../images/FeedbackBy_hover.gif) no-repeat 10px center
}

.menu li a#Domain font{
	background:url(../images/Industry.gif) no-repeat 10px center
}
.menu li a:hover#Domain font{
	background:url(../images/Industry_hover.gif) no-repeat 10px center
}

.menu li a#SetUp font,.menu li a#SetUpclose font{
	background:url(../images/SetUp.gif) no-repeat 10px center
}
.menu li a:hover#SetUp font,.menu li a:hover#SetUpclose font{
	background:url(../images/SetUp_hover.gif) no-repeat 10px center
}

.menu li a#Survey font{
	background:url(../images/analysis.gif) no-repeat 10px center
}
.menu li a:hover#Survey font{
	background:url(../images/analysis_hover.gif) no-repeat 10px center
}

.menu li a#Platform font{
	background:url(../images/Platform.gif) no-repeat 10px center
}
.menu li a:hover#Platform font{
	background:url(../images/Platform_hover.gif) no-repeat 10px center
}

.menu li a#Comparison font{
	background:url(../images/Comparison.gif) no-repeat 10px center
}
.menu li a:hover#Comparison font{
	background:url(../images/Comparison_hover.gif) no-repeat 10px center
}
.menu li a#Transformation font{
	background:url(../images/Turn.gif) no-repeat 10px center
}
.menu li a:hover#Transformation font{
	background:url(../images/Turn_hover.gif) no-repeat 10px center
}
.menu li.news{
	background:url(../images/new.jpg) no-repeat 95px 13px;
}
.timenews{
	background:url(../images/new.jpg) no-repeat right 12px; padding-right:32px
}
.menu li.news1{
	background:url(../images/new.jpg) no-repeat 110px 13px;
}

.menu ol li a{
	padding-left:35px;
}